@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --peacock-green: #376c74;
  --mediterranean-blue: #187e9b;
  --robin-egg: #d9f1f3;
  --wool: #fbfbf6;
  --light-gray: #d4d4d4;
  --darkest-gray: #1f1f1f;
  --dark-theme-gray:#4E5959;
  --dark-theme-gray-selected:#edfbfb;
  --dark-theme-gray-lightest:#d0e0e0;
  --dark-theme-gray-lightest-rgb: 208, 224, 224;
  --dark-theme-gray-light:#606A6A;
  --dark-theme-gray-hover: #353d3d;
  --dark-primary-link: var(--wool);
  --dark-primary-link-hover: #ffffff;
  --dark-theme-gray-text-light:var(--wool);
  --dark-theme-gray-text-dark:var(--dark-theme-gray);
  --custom-button-color: var(--robin-egg);
  --custom-button-color-hover: var(--wool);
  --custom-button-color-text: var(--dark-theme-gray-hover);
  --custom-button-color-text-hover: var(--dark-theme-gray-hover);

  --dark-gin-icon-color: var(--wool);
  --gin-color-text-light: var(--wool);

  --gin-font: "DM Mono", monospace;
  --gin-font-size-h1: 1.75rem;
  --gin-font-size-h2: 1.5rem;
  --gin-font-size-h3: 1.25rem;
  --gin-border-m: 0.313rem;
  --gin-bg-app: #fcfefe;
  --gin-bg-app-rgb: rgb(252, 254, 254);
  --gin-spacing-m: 1rem;
  --gin-border-l: 0.75rem;
  --gin-color-warning-light: #efcf64;
  --gin-bg-warning: #605328;
  --gin-color-danger-light: #f39b9d;
  --gin-bg-danger: #583333;
  --gin-bg-item-hover: var(--dark-theme-gray-hover);
}

:root [data-gin-accent=light_blue] {
  --gin-color-primary-rgb: 217, 241, 243;
  --gin-color-primary-active: var(--wool);
  --gin-color-secondary: var(--mediterranean-blue);
  --gin-color-text-light: var(--wool);
  --gin-icon-color: var(--dark-gin-icon-color);
  --gin-bg-item-hover: var(--dark-theme-gray-hover);
  --gin-color-primary-hover: var(--dark-primary-link-hover);
  --gin-color-primary-light: var(--gin-bg-item-hover) !important;
  --gin-border-color-layer: var(--light-gray);
  --gin-bg-layer: var(--dark-theme-gray);
  --gin-dark-gray: var(--darkest-gray);
  --colorGinText: var(--darkest-gray);
  --gin-border-color-table-header: var(--darkest-gray);
  --gin-bg-layer3: var(--dark-theme-gray-hover);
  --gin-color-title: var(--dark-theme-gray-text);
  --gin-color-dark-text: var(--wool);
  --gin-color-title: var(--dark-theme-gray);
  --gin-color-title-light: var(--dark-theme-gray-text-light);
  --gin-color-title-dark: var(--dark-theme-gray-text-dark);
  --gin-color-button-text: var(--dark-theme-gray);
  --gin-color-button-text-hover: var(--dark-theme-gray-hover);
}

[data-gin-accent=light_blue] {
  --gin-bg-app: #fcfefe;
  --gin-bg-app-rgb: rgb(252, 254, 254);
}

/* affect admin paths only */
:root .path-admin h1,
:root .path-admin h2 {
  font-weight: 600;
}





/* Off-canvas overrides */
#drupal-off-canvas {
  background-color: var(--wool);
  color: var(--darkest-gray);
}

.ui-dialog-content, 
.ui-dialog-off-canvas .ui-dialog-titlebar {
  background: var(--wool) !important;
}
#layout-builder-modal {
  background: var(--wool) !important;
}

.ui-dialog-off-canvas #drupal-off-canvas {
  padding-inline: var(--size-spacing-5) var(--size-spacing-8);
}

#drupal-off-canvas form,
#drupal-off-canvas label {
  color: var(--darkest-gray);
}

.ui-widget-content a {
  color: var(--dark-theme-gray) !important;
} 


.ui-menu-item-wrapper:hover {
  background-color: var(--dark-theme-gray-lightest);
}

.ui-widget.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  display: flex;
  align-items: center;
  border-color: var(--dark-theme-gray);
}

.ui-widget.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  background-color: var(--dark-theme-gray-hover) !important;
}

.glb-claro-details[open] > .glb-claro-details__summary {
  color: var(--gin-color-primary) !important;
  background-color: var(--dark-theme-gray-hover) !important;
}

.glb-claro-details[open] > .glb-claro-details__summary::before {
  background: var(--gin-color-primary) !important;
}

.glb-claro-details__summary:hover::before {
  background: var(--gin-color-primary) !important;
}

.glb-form-item__description, .glb-fieldset__description {
  color: var(--dark-theme-gray) !important;
}

.glb-form-wrapper .cke .cke_top,
.glb-form-wrapper .cke .cke_bottom {
  background: var(--dark-theme-gray-lightest) !important;
}

.glb-form-wrapper .cke a.cke_path_item, 
.glb-form-wrapper .cke span.cke_path_empty {
  color: var(--dark-theme-gray) !important;
}

.glb-form-wrapper .cke a.cke_button_off:hover, 
.glb-form-wrapper .cke a.cke_button_off:focus, 
.glb-form-wrapper .cke a.cke_button_off:active {
  background: var(--wool) !important;
}

:not(.glb-form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .glb-form-type--checkbox label {
  color: var(--wool) !important;
}

[dir="ltr"] .gin-secondary-toolbar .toolbar-secondary .toolbar-bar div:last-child .toolbar-tray {
  border-radius: 0 0 var(--gin-border-l) var(--gin-border-l);
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title,
#drupal-off-canvas form,
#drupal-off-canvas span,
#drupal-off-canvas label,
#drupal-off-canvas input[type="submit"].button {
  font-family: var(--gin-font) !important;
}

#drupal-off-canvas input[type="submit"].button {
  box-sizing: border-box;
  padding: var(--size-spacing-5);
  background-color: var(--custom-button-color) !important;
  color: var(--custom-button-color-text) !important;
}

.ui-widget.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas .button--primary[type="submit"]:hover,
.ui-widget.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas .button--primary[type="submit"]:focus {
  background-color: var(--dark-theme-gray-hover) !important;
  color: var(--wool) !important;
}


/* Modal */
.ui-widget-overlay {
  background: var(--gin-color-primary) !important;
}

.ui-dialog-titlebar {
  display: flex;
  align-items: center;
  background: var(--gin-color-primary-active) !important;
}

[data-gin-accent="light_blue"] .ws-lb-link__label {
  background: var(--wool) !important;
}

[data-gin-accent="light_blue"] .ui-dialog-titlebar .ui-dialog-title {
  color: var(--wool) !important;
}

[data-gin-accent="light_blue"] .ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  background: var(--wool) !important;
}

.gin-secondary-toolbar--frontend {
  position: fixed;
  background-color: var(--gin-bg-layer);
  width: 100%;
  top: calc(var(--gin-toolbar-secondary-height) - 7px) !important;
}

.gin-breadcrumb__item:first-of-type .gin-breadcrumb__link:hover::before {
  background-color: var(--dark-primary-link-hover) !important;
}

.gin-breadcrumb__link:hover {
  text-decoration: underline;
}

.gin-breadcrumb__link:hover, 
.gin-breadcrumb__link:hover em {
  color: var(--dark-primary-link-hover) !important;
}

.gin-breadcrumb__item:first-of-type .gin-breadcrumb__link:hover::before {
  background-color: var(--dark-primary-link-hover) !important;
}

body.gin--horizontal-toolbar {
  padding-top: calc(var(--gin-toolbar-y-offset) + var(--gin-toolbar-secondary-height)) !important;
}

[data-gin-accent=light_blue] .ui-widget-overlay {
  background: var(--peacock-green) !important;
}

[data-gin-accent=light_blue] .ui-dialog-titlebar {
  background: var(--dark-theme-gray) !important;
}

.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item:hover
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item:hover
  > .toolbar-box
  > a.toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item
  > .toolbar-icon:focus::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail:hover
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-box
  > a.toolbar-icon::before {
  z-index: 1;
}

.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-icon::after,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-box
  > a.toolbar-icon::after,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item
  > .toolbar-icon.is-active::after {
  background-color: var(--gin-color-primary-light) !important;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab:hover .trigger::before,
.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab:focus .trigger::before {
  background-color: var(--wool) !important;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab > .toolbar-icon-edit.toolbar-item:hover
.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab > .toolbar-icon-edit.toolbar-item:focus {
  background-color: var(--wool);
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab:hover .trigger {
  color: var(--wool) !important;
}

.is-horizontal .tabs__link:hover,
.is-horizontal .tabs__link:focus,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:hover,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:focus {
  background: var(--gin-color-primary-light);
}

.form-element {
  border-radius: 0.625rem !important;
}

.block-system > .views-form [data-drupal-selector*="edit-header"],
.view-content .views-form [data-drupal-selector*="edit-header"] {
  background-color: transparent !important;
}

.admin-item .admin-item__link:hover,
.admin-item .admin-item__link:focus {
  background: rgba(var(--gin-color-primary-rgb), 0.15) !important;
}

.gin-secondary-toolbar
  .toolbar-secondary
  .toolbar-bar
  .toolbar-tab
  .toolbar-tray
  a:hover,
.gin-secondary-toolbar
  .toolbar-secondary
  .toolbar-bar
  .toolbar-tab
  .toolbar-tray
  a:active,
table tr:hover,
table .draggable-table.tabledrag-disabled tr:hover {
  --gin-color-button-text: var(--dark-primary-link);
  color: var(--wool);
  background: var(--dark-theme-gray);
}

#block-atomic-local-tasks ul:not(.contextual-links) {
  list-style: none;
  display: flex;
}

/* Layout styles */

/* override button font  */
.glb-sidebar .form-actions,
.glb-button,
.layout-builder__link,
.glb-form-wrapper,
.glb-sidebar__content {
  font-family: var(--gin-font) !important;
}

.glb-button,
.inline-block-create-button,
.layout-builder__link--add,
.inline-block-create-button:not(:focus),
.layout-builder__link--add:not(:focus),
.form-actionsÂ .glb-button,
.form-actionsÂ .inline-block-create-button,
.form-actionsÂ .layout-builder__link--add,
.glb-action-link--icon-trash.glb-action-link,
.meta-sidebar__trigger.is-active,
.meta-sidebar__close.is-active {
  background-color: var(--gin-color-primary-light) !important;
}

.glb-button,
.inline-block-create-button,
.layout-builder__link--add,
.glb-button:not(:focus),
.inline-block-create-button:not(:focus),
.layout-builder__link--add:not(:focus),
.form-actionsÂ .glb-button,
.form-actionsÂ .inline-block-create-button,
.form-actionsÂ .layout-builder__link--add,
.glb-action-link--icon-trash.glb-action-link {
  border-radius: 2.5rem !important;
  border: 2px solid transparent !important;
}

.glb-button:hover, 
.inline-block-create-button:hover, 
.layout-builder__link--add:hover, 
.glb-button:not(:focus):hover, 
.inline-block-create-button:not(:focus):hover, 
.layout-builder__link--add:not(:focus):hover, 
.form-actions .glb-button:hover, 
.form-actions .inline-block-create-button:hover, 
.form-actions .layout-builder__link--add:hover, 
.glb-action-link--icon-trash.glb-action-link:hover {
  border-color: var(--dark-theme-gray-hover) !important;
}


.glb-button:not(:focus) {
  filter: none !important;
  box-shadow: none !important;
}

.gin-secondary-toolbar__layout-container *:focus {
  box-shadow: 0 0 0 3px #d4d4d4 !important;
}

.glb-table .tabledrag-handle::after {
  background-color: var(--dark-theme-gray);
}

.glb-table tr:hover, 
.glb-table .draggable-table.tabledrag-disabled tr:hover {
  background: var(--dark-theme-gray-lightest);
}

.meta-sidebar__trigger,
.meta-sidebar__close {
  background-color: var(--gin-color-primary-light);
}

.meta-sidebar__trigger::before,
.meta-sidebar__close::before {
  background-color: var(--gin-color-primary);
}

.glb-button,
.inline-block-create-button,
.layout-builder__link--add,
.layout-builder__link {
  font-family: var(--gin-font);
}

.layout-builder__link--configure {
  color: var(--dark-theme-gray);
}

.layout-builder__link--add-section-to-library,
.layout-builder__link--remove {
  background-color: var(--dark-theme-gray-hover);
} 

.layout-builder__section:not(.gin-lb--disable-section-focus):hover::after { 
  border: 0.25rem solid var(--dark-theme-gray-hover) !important;
}

#media-library-messages .messages {
  border-radius: var(--gin-border-l);
  padding: 1rem;
}

#media-library-messages .messages--error {
  color: var(--gin-color-danger-light);
  background-color: var(--gin-bg-danger);
}
#media-library-messages .messages--warning {
  color: var(--gin-color-warning-light);
  background-color: var(--gin-bg-warning);
}

.layout-builder__section {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  background-color: var(--wool);
}

.layout-builder__section:hover .layout-builder__link--add-section-to-library {
  background-color: var(--dark-theme-gray-hover) !important;
}

.layout-builder__section:hover .layout-builder__link--remove {
  background-color: var(--dark-theme-gray-hover) !important;
}

.layout-builder__section:hover .layout-builder__link--configure {
  background-color: var(--dark-theme-gray-hover) !important;
  color: var(--gin-color-primary) !important;
}

/* yalb-1261 - fix hover color on table */

.layout-builder-components-table__block-label:hover {
  color: var(--darkest-gray);
  text-decoration: underline;
}

.layout-builder-components-table tr:hover {
  color: var(--darkest-gray);
}

/* yalb-1296 - table tr hover in text component */
.text table tr:hover {
  color: var(--color-text);
}
 
/* yalb-1251 - AX: pencil icon difficulty editing blocks */
/* change the contextual pencil icon to the left-hand side of each component
// instead of the right
*/
.layout-builder-block.contextual-region .contextual {
  display: flex;
  flex-direction: column;
  top: 1rem;
  left: 2vw;
  right: auto;
  width: auto;
}

@media only screen and (min-width: 2200px) {
  .layout-builder-block.contextual-region .contextual {
    left: 15vw;
  }
} 

@media only screen and (min-width: 2500px) {
  .layout-builder-block.contextual-region .contextual {
    left: 20vw;
  }
} 

.layout-builder-block.contextual-region .contextual .contextual-links {
  left: 0;
  right: 0;
  float: unset;
}

/* increase the size of the clickable/hoverable area */
.layout-builder-block.contextual-region .contextual .trigger {  
  width: 50px !important;
  height: 50px !important;
}

/* increase the size of the icon itself */
.layout-builder-block.contextual-region .contextual .trigger::before {
  width: 1.2rem;
  height: 1.2rem;
  mask-size: 1.2rem;
  -webkit-mask-size: 1.2rem;
}

/* add min-height so that smaller (in height) components are more easily
// able to be interacted with - e.g. `divider`
*/
.layout-builder-block {
  min-height: 6rem;
}

/* increase padding around the divider when in layout-builder, to make the
// divider more visible
*/
.layout-builder-block .divider__wrapper {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}
