
:root {
  --gin-font: Mallory, sans-serif;
  --gin-font-size-h1: 1.75rem;
  --gin-font-size-h2: 1.5rem;
  --gin-font-size-h3: 1.25rem;
  --gin-border-m: 0.313rem;
  --jui-dropdown-bg-color: var(--gin-bg-layer);
  --input-fg-color--placeholder: var(--gin-color-text);
}

/* affect admin paths only */
:root .path-admin h1,
:root .path-admin h2 {
  font-weight: 600;
}

/* Make the secondary toolbar fixes */
.gin-secondary-toolbar--frontend {
  position: fixed;
  width: 100%;
  top: calc(var(--gin-toolbar-secondary-height) - 7px) !important;
}

/* yalb-1251 - AX: pencil icon difficulty editing blocks */
/* change the contextual pencil icon to the left-hand side of each component
// instead of the right
*/
.layout-builder-block.contextual-region .contextual {
  display: flex;
  flex-direction: column;
  top: 1rem;
  left: 2vw;
  right: auto;
  width: auto;
}

@media only screen and (min-width: 2200px) {
  .layout-builder-block.contextual-region .contextual {
    left: 15vw;
  }
}

@media only screen and (min-width: 2500px) {
  .layout-builder-block.contextual-region .contextual {
    left: 20vw;
  }
}

.layout-builder-block.contextual-region .contextual .contextual-links {
  left: 0;
  right: 0;
  float: unset;
}

/* increase the size of the clickable/hoverable area */
.layout-builder-block.contextual-region .contextual .trigger {
  width: 50px !important;
  height: 50px !important;
}

/* increase the size of the icon itself */
.layout-builder-block.contextual-region .contextual .trigger::before {
  width: 1.2rem;
  height: 1.2rem;
  mask-size: 1.2rem;
  -webkit-mask-size: 1.2rem;
}

/* two-column layout edit adjustments */
.yds-two-column .layout-builder-block.contextual-region .contextual {
  left: 0;
}

@media only screen and (min-width: 2200px) {
  .yds-two-column .layout-builder-block.contextual-region .contextual  {
    left: -1vw;
  }
}

@media only screen and (min-width: 2500px) {
  .yds-two-column .layout-builder-block.contextual-region .contextual  {
    left: -1vw;
  }
}


/* add min-height so that smaller (in height) components are more easily
// able to be interacted with - e.g. `divider`
*/
.layout-builder-block {
  min-height: 9rem;
}

/* increase padding around the divider when in layout-builder, to make the
// divider more visible
*/
.layout-builder-block .divider__wrapper {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}

/*
// theme headings/text in glb-tables to override site style sheets
*/

.glb-table th > * {
  color: var(--gin-color-text);
}

/* Tables */
.glb-table tr:nth-child(2n) {
  background-color: transparent;
}

/*
// Autocomplete styles (linkit)
*/
.ui-autocomplete .ui-menu-item-wrapper:focus, 
.ui-autocomplete .ui-menu-item-wrapper:hover {
  background-color: var(--gin-color-primary);
  color: var(--gin-bg-layer3);
}

/*
// Offcanvas toolbar styles
*/
#drupal-off-canvas-wrapper {
  color: var(--gin-color-text) !important;
  background-color: var(--gin-bg-layer) !important;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  background-color: var(--gin-bg-layer2) !important;
  color: var(--gin-color-text) !important;
}

/* 
// Image crop vertical tabs override
*/

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: var(--gin-color-primary) !important;
}

.vertical-tabs__menu-item {
  background: var(--gin-bg-layer) !important;
}

.gin--dark-mode .glb-media-library-add-form__remove-button {
  background-color: var(--gin-color-primary) !important;
  color: var(--gin-bg-layer3) !important;
}

/* row weights link on tabs, accordions, callouts, etc. */
.glb-form-item button.link {
  color: var(--gin-color-primary);
}

/* set summary-content equal to gin-color-text */
.js.gin--dark-mode .paragraphs-description .summary-content {
  color: var(--gin-color-text) !important;
}

/* In light mode, gin is displaying a mustard background with a black 
foreground. This causes contrast issues.  */
html:not(.gin--dark-mode) #drupal-off-canvas:not(.drupal-off-canvas-reset).ui-dialog-content div:not([data-drupal-ck-style-fence] *), #drupal-off-canvas-wrapper .ui-dialog-content div:not([data-drupal-ck-style-fence] *) {
  color: var(--color-basic-white);
}
