{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form--required',
    required ? 'form--required form-item__label--required',
    'form-item__label',
  ]
%}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {{ title }}
    <span class="colors">
      {% for key,value in getSettingValues('global_theme') %}
        <span class="color" style="background: var(--global-themes-{{ element['#context']['value'] }}-colors-slot-{{ key }});"></span>
      {% endfor %}
    </span>
  </label>
{%- endif %}
