{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}

{% set utility_nav__base_class = 'utility-nav' %}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {% include "@atoms/images/icons/_yds-icon.twig" with {
      icon__name: 'magnifying-glass',
      icon__blockname: utility_nav__base_class,
      icon__modifiers: ['search'],
      icon__decorative: true,
    } %}
    <span class="visually-hidden">{{ title }}</span>
  </label>
{%- endif %}
