{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form--required',
    required ? 'form--required form-item__label--required',
    'form-item__label',
  ]
%}

{% if title is not empty or required -%}

  <label{{ attributes.addClass(classes) }}>
    {{ title }}

    <span class="colors">
      <span class="color component-color" style="background: var(--global-themes-{{ element['#context']['current_global_theme'] }}-colors-slot-{{element['#context']['color_theme']}});"></span>
    </span>
  </label>
{%- endif %}
