<form action="/search" method="get" class="search-form--page form--inline" id="page-search-form" accept-charset="UTF-8">
  <div class="form-item form-item-keywords">
    <input placeholder="Start new search" type="text" id="edit-keywords--page-search-form" name="keywords" value="" size="30" maxlength="128" class="form-text form-item__textfield">
  </div>
  <div class="form-actions form-wrapper" id="edit-actions--page-search-form">
    {% include '@atoms/controls/cta/yds-cta.twig' with {
      control__element: 'input',
      cta__attributes: {
        'value': 'Search',
        'type': 'submit'
      }
    } %}
  </div>
</form>
