<div {{ add_attributes(search_result__attributes) }} data-component-width="max">
  <div {{ bem('inner', [], 'search-results') }}>
    {{ drupal_block('ys_search_form_block') }}

    {% for row in rows %}
      {{- row.content -}}
    {% endfor %}
  </div>
</div>
