{#
 # Remove wrapping div from all containers by default.
 # For the default template, see `web/core/themes/stabel9/templates/views/views-view-unformatted.html.twig`.
 #}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {{- row.content -}}
{% endfor %}
