/**
 * @file
 * Add styles to the Toolbar.
 */

/* Hide the ajax throbber when loading the theme settings dialog. */
.ys-theme-settings-link + .ajax-progress-throbber {
  display: none;
}

/* Add an icons to the 'Theme Settings' toolbar item. */
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-ys-themes-theme-settings:before {
  -webkit-mask-image: url(../icons/icons.svg#appearance-view);
  mask-image: url(../../icons/icons.svg#appearance-view);
}
