.ys-layout-builder--drag-drop {
  border: 2px dashed var(--gin-pattern);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: block !important;
}

.ys-layout-builder--is-reusable {
  background-image: url('../icons/filled-globe.png');
  background-repeat: no-repeat;
  background-position: 1rem calc(100% - 1rem);
  background-size: 3rem 3rem;
  border-color: var(--color-blue-light);
}

.layout-builder--content-preview-disabled .layout-builder-block {
  margin-bottom: 2rem;
  border: 2px dashed var(--gin-pattern);
}

.layout-builder--content-preview-disabled
  .layout-builder-block
  .ys-layout-builder--drag-drop {
  border: 0;
}

/* center layout */
.main-content > .layout--centered {
  width: 100%;
  max-width: 1344px;
  margin: 2rem auto;
}

.main-content > .layout--centered .form-actions {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  margin: var(--size-spacing-6) 0;
}


/* add admin css variables */
.layout--centered {
  --color-admin-button-primary: rgb(50, 117, 224);
  --color-admin-button-primary-hover: rgb(43, 99, 190);
  --color-admin-button-light-text: white;
  --color-admin-button-dark-text: black;
  --color-admin-button-secondary: rgb(233, 227, 66);
  --color-admin-button-secondary-hover: rgb(221, 216, 86);
}

/* buttons */
/* emulate gin theme buttons */

.main-content .cas-login-link {
  margin-bottom: var(--size-spacing-8);
}

.main-content > .layout--centered .button,
.main-content > .layout--centered .cas-login-link {
  transition: color, background-color var(--animation-speed-default) ease-in-out 0ms;
  display: inline-flex;
  flex: 0 1;
  border-radius: 6px;
  background-color: var(--color-admin-button-primary);
  color: var(--color-admin-button-light-text);
  font-weight: 700;
  padding: var(--size-spacing-3) var(--size-spacing-6);
  text-decoration: none;
  text-align: center;
  min-height: 2rem;
  cursor: pointer;
}

.main-content > .layout--centered .button:hover,
.main-content > .layout--centered .cas-login-link:hover {
  background-color: var(--color-admin-button-primary-hover);
  color: var(--color-admin-button-light-text);
}

/* edit button */
.main-content > .layout--centered .button[data-drupal-selector="edit-cancel"] {
  background-color: var(--color-admin-button-secondary);
  color: var(--color-admin-button-dark-text);
}

.main-content > .layout--centered .button[data-drupal-selector="edit-cancel"]:hover {
  background-color: var(--color-admin-button-secondary-hover);
  color: var(--color-admin-button-dark-text);
}
