<h2>Resources</h2>
<ul>
  <li>
    <a href="#">YaleSites How-To Guide</a>:
    Instructions for all aspects of building and maintaining your YaleSite.
  </li>
  <li>
    <a href="#">Usability & Web Accessibility</a>:
    A resource to help you create useful, usable websites.
  </li>
  <li>
    <a href="#">User Experience & Digital Services</a>:
    Website planning and building on the YaleSites Drupal platform.
  </li>
</ul>
<div class="more-link">
  <a href="#">Find more resources</a>
</div>
