<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% include "@molecules/pull-quote/yds-pull-quote.twig" with {
    pull_quote__quote: content.field_text,
    pull_quote__attribution: content.field_attribution.0,
  } %}
</div>
