<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% embed "@molecules/callout/yds-callout.twig" with {
     callout__background_color: content.field_style_color.0['#markup'],
  } %}
    {% block callout__items %}
      {{ content.field_callout }}
    {% endblock %}
  {% endembed %}
</div>
