{{ attach_library('ys_beacon/chat_button') }}

<div class="ys-beacon-chat-button" role="region" aria-label="Beacon chat">
  <a href="#launch-chat">
    <i class="fa-light {{ icon_class }}" aria-hidden="true"></i>
    <span>{{ button_text }}</span>
  </a>
</div>
