<div class='yds-two-column' data-component-width='max' data-embedded-components>
    <div class='yds-two-column__inner'>
        <div class='yds-two-column__primary'>
            {% block two_column__primary %}
                {{ content.primary }}
            {% endblock %}
        </div>
        <div  class='yds-two-column__secondary'>
            {% block two_column__secondary %}
                {{ content.secondary }}
            {% endblock %}
        </div>
    </div>
</div>
