
.embed-libcal caption, 
.s-lc-w-today-view-all, 
.embed-libcal th > span.s-lc-w-head-pre br, 
.embed-libcal a .link-purpose-icon, 
.s-lc-w-time:has(.am ~ .am, .pm ~ .pm) :is(.am, .pm) {
  display: none;
}
.s-lc-w-time :is(.am ~ .am, .pm ~ .pm) {
  display: inline !important;
}

.embed__inner:has(.embed-libcal) {
    margin-block-start: 0 !important;
}

.embed-libcal {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  line-height: 1.4em;
}
.embed-libcal table {
  font: unset;
}
.embed-libcal :is(table, thead, tbody, tr) {
  width: 100%;
  display: block;
}
.embed-libcal :is(table, thead, tr, th, td) {
  background: none !important;
  border: none !important;
}
.embed-libcal tr {
    opacity: 0;
    animation: reveal 0.3s forwards;
    animation-delay: 0.4s;
}
@keyframes reveal {
    from { opacity: 0; }
    to { opacity: 1; }
}




.embed-libcal th {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1rem !important;
  font-weight: 400;
}
.embed-libcal th::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: solid 1px #00000011;
  position: absolute;
  bottom: 8px;
}
.embed-libcal th > button:nth-of-type(1) {
  order: 2;
}
.embed-libcal th > span {
  order: 3;
}
.embed-libcal th > span.s-lc-w-head-pre {
  font-size: 30px;
  font: var(--font-style-heading-h4-yale-new);
  font-variant-numeric: oldstyle-nums;
  color: #333333;
  margin-block-end: 1.25rem;
  text-align: left;
  order: 1;
  flex: 0 0 100%;
}
.embed-libcal th > span.s-lc-w-head-pre::after {
    content: ' and Info';
}
.embed-libcal th > button:nth-of-type(2), 
.embed-libcal th > button:nth-of-type(1):nth-last-of-type(1) {
  order: 4;
}
.s-lc-w-head:has(button:nth-of-type(1):nth-last-of-type(1)) {
  text-align: center;
}
.s-lc-w-head:has(button:nth-of-type(1):nth-last-of-type(1)) .s-lc-w-head-pre + span {
  width: calc(100% - 72px);
  margin-left: 36px;
  text-align: center;
  font-size: 0;
}
.s-lc-w-head:has(button:nth-of-type(1):nth-last-of-type(1)) .s-lc-w-head-pre + span::after {
  content: 'Today';
  font-size: 20px;
}
.s-lc-w-head:has(button:nth-of-type(1):nth-last-of-type(1)) .s-lc-w-head-pre + span::before {
  content: '←';
  display: inline-block;
  font-size: 1rem;
  border-radius: 1rem;
  background: #00000011;
  line-height: 1.15;
  padding: 2px 10px 3px;
  color: #999;
  position: absolute;
  left: 0;
  bottom: 22px;
  opacity: 0.6;
}



.embed-libcal td {
  padding: 0 !important;
  background: none !important;
}
.embed-libcal thead td {
  border-bottom: none !important;
}
.embed-libcal tbody td {
  display: block;
  width: 100%;
}
.embed-libcal tbody td:nth-child(1) {
  font-weight: 500;
  padding-top: 1rem !important;
}

.embed-libcal a {
  text-decoration: none;
  color: inherit;
}
.embed-libcal button {
  appearance: none;
  border: none;
  border-radius: 1rem;
  background: #00000011;
  cursor: pointer;
}
button.s-lc-w-previous, 
button.s-lc-w-next {
  font-size: 0;
}
button:is(.s-lc-w-previous, .s-lc-w-next):before {
  content: '←';
  font-size: 1rem;
  padding: 0.25rem;
}
button:is(.s-lc-w-next):before {
  content: '→';
}

.gin--dark-mode .embed-libcal :hover, .gin--dark-mode .embed-libcal tr:focus-within {
  color:inherit;
}