{{ attach_library('ai_engine_chat/chat_button') }}

<div class="ai-engine-chat-button" role="region" aria-label="AI Chat">
  <a href="#launch-chat">
    <svg class="icon" aria-hidden="true" role="img">
      <use xlink:href="/themes/contrib/atomic/node_modules/@yalesites-org/component-library-twig/dist/icons.svg#{{ icon_class }}-light"></use>
    </svg>
    <span>{{ button_text }}</span>
  </a>
</div>
