<div>
  Welcome to the YaleSites dashboard.
  {{ drupal_view('content', 'block_1') }}
  <h2>Resources</h2>
  <ul>
    <li>
      <a href="https://yalesites.yale.edu/resource-library/getting-started-with-yalesites">
        YaleSites Getting Started Guide
      </a>:
      Help you navigate, create content, and perform all the basic site-building YaleSites features.
    </li>
    <li>
      <a href="https://yalesites.yale.edu/resource-library/building-with-blocks">
        Building With Blocks
      </a>:
      Help you understand YaleSites blocks and how to use them to make your content shine.
    </li>
    <li>
      <a href="https://yalesites.yale.edu/resource-library/building-your-menu">
        Building Your Menu
      </a>:
      Help you understand YaleSites menus and how to combine them with way-finding tactics to ensure users can easily navigate your YaleSite.
    </li>
  </ul>
  <div class="more-link">
    <a href="https://yalesites.yale.edu/resource-library">Find more resources</a>
  </div>
  <h2>Report Feedback or a Bug</h2>
  <a href="mailto:yalesitesupgradeprogram@yale.edu">
    yalesitesupgradeprogram@yale.edu
  </a>
</div>
