<p>Mega Footer Block</p>

<ul>
  <li>Col 1 heading: {{ footer_links_heading_1 }}</li>
  <li>Col 2 heading: {{ footer_links_heading_2 }}</li>
  <li>Footer text: {{ footer_text }}</li>
  <li>Footer logos: {{ footer_logos }}</li>
</ul>
