{#
 # Available Variables:
 # - link (string)
 #}

<a href="{{ link }}" target="_blank" data-cta-hover-style="fade" data-cta-radius="none" data-cta-style="filled" data-cta-outline-weight="2" href="#" class="cta">Start a Support Request</a>
