// Libraries
@use '~normalize.css/normalize';

// @import '~breakpoint-sass/stylesheets/breakpoint';

// stylelint-disable
@use '_settings/config';
// Tokens
@import '~@yalesites-org/tokens/build/css/tokens.css';
// Components
@import '00-tokens/index';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-page-layouts/**/*.scss';
// stylelint-enable

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}
