:root {
  /***********
  ** Colors **
  ***********/
  /* --color-action: var(--color-theme-action, var(--color-cta-primary)); */
  /* --color-accent: var(--color-theme-accent, var(--color-blue-medium)); */
  /* --color-divider: var(--color-theme-divider, var(--color-gray-500)); */
  /* --color-pull-quote-accent: var(--color-theme-pull-quote-accent, var(--color-blue-yale)); */

  /**************
  ** Thickness **
  **************/
  /* --thickness-divider-thick: var(--size-thickness-2); */
  /* --thickness-divider-thin: var(--size-thickness-1); */
  /* --thickness-divider: var(--thickness-theme-divider, var(--thickness-divider-thin)); */

  /*************
  ** Position **
  *************/
  /* --position-divider: var(--position-theme-divider, center); */

  /**********
  ** Width **
  **********/
  /* --width-divider: var(--width-theme-divider, var(--layout-width-100)); */
}

.toolbar-horizontal .local-tasks-toolbar-tab .toolbar-menu {
  float: none;
}