.answerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 4.5rem;
    gap: 0.25rem;
    background: #FFFFFF;
    border: 2px solid hsl(213, 66%, 45%);
    border-radius: 2rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;
}


.chatMessageAIMessageAvatar {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.answerText {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #222;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    white-space: normal;
    word-wrap: break-word;
    max-width: 800px;
    overflow-x: auto;
}

.answerReferences {
    gap: 0.5rem;
}

.answerFooter {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: space-between;
    border-top: 1px solid hsl(213, 66%, 45%);
    padding-top: 0.5rem;
}

.citationContainer {
    font-style: normal;
    font-family: Mallory, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1;

    color: #115EA3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.25rem;
    border: 1px solid hsl(213, 66%, 45%);
}

.citationContainer + .citationContainer {
    margin-left: 0.5rem;
}

.citationContainer:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: hsl(213, 66%, 98%);
}

.citation {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1rem;
    height: 1rem;
    border: 1px solid #E0E0E0;
    flex: none;
    flex-grow: 0;
    z-index: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1;
    text-align: center;
    color: hsl(213, 66%, 45%);
    cursor: pointer;
}

.citation:hover {
    text-decoration: underline;
    cursor: pointer;
}

.accordionIcon {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 4px;
    color: #616161;
    font-size: 1rem;
}

.accordionIcon:hover {
    cursor:pointer;
}

.accordionTitle {
    margin:0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #616161;
}

.accordionTitle:hover {
    cursor:pointer;
}

.clickableSup {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 14px;
    height: 14px;
    border: 1px solid #E0E0E0;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: #424242;
    cursor: pointer;
}

.clickableSup:hover {
    text-decoration: underline;
    cursor: pointer;
}

sup {
    font-size: 1rem;
    line-height: 1;
}
