{#
 /**
  * @file
  * Theme override for the book tree navigation.
  *
  * Variables:
  *   - html__menu_bypass_id: The ID of the bypass div after the menu. (default: main-content-after-secondary-nav)
  *
#}
{{ attach_library('atomic/secondary-nav') }}
{{ attach_library('atomic/in-this-section') }}

{% set secondary_nav__base_class = 'secondary-nav' %}
{% set html__menu_bypass_id = html__menu_bypass_id|default('main-content-after-secondary-nav') %}

{# Menu #}
{% include "@organisms/site-in-this-section/yds-site-in-this-section.twig" with {
  site_section_wrap__theme: getThemeSetting('book_navigation')
} %}
<div id="{{ html__menu_bypass_id }}" class="visually-hidden"></div>
