:root {
  // Set drupal displace variables for ckeditor5.
  --drupal-displace-offset-top: 35rem;
  --drupal-displace-offset-bottom: 35rem;
}

.media-library-edit__link {
  overflow: hidden;
  color: transparent !important;
}

.toolbar-horizontal .local-tasks-toolbar-tab .toolbar-menu {
  float: none;
}
