.lpb-enable {
  z-index: 1;
}

.media-library-edit__link {
  overflow: hidden;
  color: transparent !important;
}

.field--name-field-content {
  .fieldset {
    border: 0;
  }

  .fieldset__wrapper {
    margin: 0;
  }
}

.field--name-field-content-title {
  border-bottom: 1px solid var(--gin-border-color);
}
