/* stylelint-disable */

:root {
  --gin-font: Mallory, sans-serif;
  --gin-font-size-h1: 1.75rem;
  --gin-font-size-h2: 1.5rem;
  --gin-font-size-h3: 1.25rem;
  --gin-border-m: 0.313rem;

  h1,
  h2 {
    font-weight: 600;
  }
}

::selection {
  background: var(--mediterranean-blue) !important;
  color: var(--wool) !important;
}

.block-help-block {
  color: var(--wool);
}

[data-drupal-selector="edit-enable-darkmode"] .form-radios input:checked + .form-item__label,
[data-drupal-selector="edit-enable-darkmode"] .form-radios .form-item__label:hover,
[data-drupal-selector="edit-enable-darkmode"] .form-radios .form-item__label:focus {
  color: var(--dark-theme-gray-hover) !important;
}

.gin--edit-form
  .page-wrapper__node-edit-form
  .layout-region-node-secondary
  .entity-meta__title {
  font-size: var(--gin-font-size-h3);
  font-weight: 500;
}

.gin--edit-form
  .page-wrapper__node-edit-form
  .layout-region-node-secondary
  .entity-meta {
  [open] {
    border-left: 3px solid var(--gin-color-primary);
  }
}

.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .entity-meta__title,
.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .entity-meta__header,
.entity-meta__header .form-type--item .form-item__label {
  color: var(--wool);
}

.gin-secondary-toolbar {
  margin: 0 !important;
  padding-inline: 3rem !important;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab .toolbar-tray a:hover, 
.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab .toolbar-tray a:active {
  background-color: var(--dark-theme-gray);
}

.gin-secondary-toolbar.layout-container {
  background-color: var(--gin-bg-layer);
}

.page-title {
  color: var(--wool) !important;
}

.gin-node-edit-form  .help-icon__description-toggle::before,
#gin_sidebar #edit-simple-sitemap .claro-details__summary--accordion-item .help-icon__description-toggle::before {
  background-color: var(--dark-theme-gray);
}

.gin-node-edit-form  .help-icon__description-toggle:hover::before {
  background-color: var(--mediterranean-blue);
}

#gin_sidebar #edit-simple-sitemap .claro-details__summary--accordion-item[aria-expanded="true"] .help-icon__description-toggle::before,
#gin_sidebar #edit-simple-sitemap .claro-details__summary--accordion-item:hover .help-icon__description-toggle::before {
  background-color: var(--wool);
}


// sticky header title

.region-sticky--is-sticky {
  background-color: rgba(var(--dark-theme-gray-rgb), 0.8) !important; 
}

.form-item__description, .fieldset__description {
  color: var(--dark-theme-gray) !important;
}

fieldset:not(.fieldgroup) {
  color: var(--dark-theme-gray) !important;
}


:not(.form-checkboxes):not(.claro-details__content--accordion-item):not(.field--name-field-login-required):not(.field--name-sticky):not(td):not(.tabledrag-cell-content__item):not(.media-library-item__click-to-select-checkbox):not(.field-content):not(.views-ui-admin-settings-basic):not(.claro-details__wrapper.details-wrapper):not(#edit-options):not(#view-add-form fieldset .fieldset__wrapper):not(#restriction-plugin-config-form):not(#field-config-edit-form) > .form-type--checkbox label {
  color: var(--wool) !important;
}

.layout-region-node-secondary :not(.form-checkboxes):not(td):not(.tabledrag-cell-content__item):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox label {
  color: var(--dark-theme-gray) !important;
}

.layout-builder-by-region-allowed-blocks,
.layout-builder-by-region-allowed-blocks .js-form-type-radio label,
.layout-builder-by-region-allowed-blocks .fieldset__label {  
  color: var(--wool) !important;
}


// media library 
// https://yalesites-platform.lndo.site/admin/content/media-grid

.media-library-widget-empty-text {
  color: var(--dark-theme-gray) !important;
}

#views-form-media-library-page .media-library-select-all,
#drupal-modal .media-library-select-all {
  color: var(--wool) !important;
}

.media-library-views-form__rows .media-library-item__name,
#drupal-modal .media-library-item__name {
  color: var(--wool) !important;
}

.media-library-views-form .fieldset__label, 
.media-library-views-form .fieldset__label--group, 
.media-library-views-form .form-item__label {
  color: var(--wool) !important;
}


// admin links

a.menu-item__link { 
  color: var(--mediterranean-blue) !important;
}
.admin-item .admin-item__link:hover,
.admin-item .admin-item__link:focus {
  background: rgba(var(--dark-theme-gray-lightest-rgb), 0.25) !important;
}

.admin-item .admin-item__link::before {
  background-color: var(--dark-theme-gray-hover) !important;
}

.admin-item .admin-item__title {
  color: var(--dark-theme-gray);
}

.admin-item__description {
  color: var(--dark-theme-gray) !important;
}

.admin-item .admin-item__link:hover ~ .admin-item__title, 
.admin-item .admin-item__link:hover ~ .admin-item__description, 
.admin-item .admin-item__link:focus ~ .admin-item__title, 
.admin-item .admin-item__link:focus ~ .admin-item__description {
  color: var(--dark-theme-gray-hover) !important;
}

.claro-details__description {
  color: var(--dark-theme-gray) !important;
}

/* Cards */
.card__content-wrapper {
  background-color: var(--wool) !important;
}

/* Modal */
.ui-widget-overlay {
  background: var(--gin-color-primary) !important;
}

.claro-details__wrapper--accordion-item {
  background-color: white;
}

[dir="ltr"]
  [open]
  > .claro-details__summary--accordion-item:not(:focus):not(:active)::after {
  content: none;
}


.panel__title, .system-status-general-info__header, 
.system-status-report__requirements-group > h3, 
.system-themes-list__header {
  background-color: var(--dark-theme-gray) !important;
}

.system-status-counter, .upgrade-status-counter,
.system-status-counter__title-count, .upgrade-status-counter__title-count {
  color: var(--wool) !important;
}

.system-status-general-info__item-icon::before {
  background-color: var(--dark-theme-gray) !important;
}

.update-settings a,
.gin-layer-wrapper table td a,
.system-status-general-info__item.card a,
.region-content .layout-column a,
.update-manager-update-form a {
  color: var(--mediterranean-blue) !important;
}

.update-settings a:hover,
.update-settings a:focus,
.gin-layer-wrapper table td a:hover,
.gin-layer-wrapper table td a:focus,
.system-status-general-info__item.card a:hover,
.system-status-general-info__item.card a:focus,
.region-content .layout-column a:hover
.region-content .layout-column a:focus,
.update-manager-update-form a:hover,
.update-manager-update-form a:focus {
  text-decoration: underline;
}


.gin-layer-wrapper,
.block-system-main-block>form,
.views-exposed-form.views-exposed-form,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list,
.module-filter-update-status-form .table-filter,
.admin.my-workbench {
  background: var(--wool) !important;
}

.views-ui-admin-settings-basic .form-type--checkbox .form-item__label,
.fieldset__label,
.fieldset__label--group,
.form-item__label {
  color: var(--dark-theme-gray-text-dark);
}

.field-config-edit-form a,
.system-modules-uninstall a,
.views-listing-table a,
.module-list__module a,
.update-manager-install-form a {
  color: var(--mediterranean-blue) !important;
}

.js-views-ui-dialog .ui-widget-content.ui-dialog-content .views-ui-edit-display-form .form-item__label,
.js-views-ui-dialog .ui-widget-content.ui-dialog-content .description,
.js-views-ui-dialog .ui-widget-content.ui-dialog-content .fieldset__label .fieldset__label--group,
.js-views-ui-dialog .ui-widget-content.ui-dialog-content .fieldset__label .form-item__description,
.js-views-ui-dialog .ui-dialog-content.ui-widget-content .views-ui-edit-display-form .form-item__description,
.js-views-ui-dialog .ui-dialog-content.ui-widget-content .js-form-item-access-options-perm .form-item__description,
.js-views-ui-dialog .ui-widget-content.ui-dialog-content .views-ui-edit-display-form .fieldset__description,
.js-views-ui-dialog .ui-dialog-content.ui-widget-content .filter-guidelines__item,
.views-listing-table thead th,
.system-modules-uninstall thead th {
  color: var(--wool) !important;
}

.tabs__link,
.claro-details__summary,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  color: var(--wool) !important;
}

#search-api-index-clear-form,
.system-modules-uninstall-confirm-form,
.update-manager-install-form {
  color: var(--dark-theme-gray);
}

.js-views-ui-dialog .ui-widget-content.ui-dialog-content .description a {
  color: var(--robin-egg);
  text-decoration: underline;
}

.js-views-ui-dialog .ui-widget-content.ui-dialog-content .description a:hover {
  text-decoration: none;
} 

// modules 

#system-modules .claro-details__summary {
  color: var(--dark-theme-gray-text-dark) !important;
}

#system-modules .claro-details__summary:hover,
#system-modules .claro-details__summary:focus,
#system-modules .claro-details[open]>.claro-details__summary,
#system-modules .claro-details[open]>.claro-details__summary[aria-expanded="true"] {
  color: var(--dark-theme-gray-text-light) !important;
  background-color: var(--dark-theme-gray-text-dark) !important;
}

#system-modules .claro-details[open]>.claro-details__summary[aria-expanded="false"]::before,
#system-modules .claro-details>.claro-details__summary[aria-expanded="false"]:focus::before,
#system-modules .claro-details[open]>.claro-details__summary::before {
  background-color: var(--dark-theme-gray-text-light) !important;
}

.claro-details__wrapper.module-details__wrapper {
  padding-top: 1rem;
}

// unwrapped content
[data-gin-accent="light_blue"] .region-content div > h2 {
  color: var(--wool);
}

[data-gin-accent="light_blue"] .region-content div > h2 + p {
  color: var(--wool);
}

#block-ys-admin-theme-main-page-content,
#drupal-modal .views-offset-top,
#drupal-modal .views-offset-top .form-item__label {
  color: var(--wool);
}

#block-ys-admin-theme-main-page-content #field-config-edit-form,
#block-ys-admin-theme-main-page-content #restriction-plugin-config-form,
#block-ys-admin-theme-main-page-content .view-manage-pages,
#block-ys-admin-theme-main-page-content .view-preview-form,
#block-ys-admin-theme-main-page-content .preview-section,
#block-ys-admin-theme-main-page-content .views-edit-view {
  color: var(--dark-theme-gray) !important;
}

#block-ys-admin-theme-main-page-content .dropbutton--multiple > .dropbutton__item:first-of-type input,
#block-ys-admin-theme-main-page-content .views-edit-view a {
  color: var(--mediterranean-blue);
}

#block-ys-admin-theme-main-page-content .views-display-top .views-tabs li a {
  color: var(--wool) !important;
}

#block-ys-admin-theme-main-page-content .views-display-top .views-tabs li a:hover,
#block-ys-admin-theme-main-page-content .views-display-top .views-tabs li a:focus,
#block-ys-admin-theme-main-page-content .views-display-top .views-tabs li a.is-active {
  color: var(--dark-theme-gray) !important;
}

#block-ys-admin-theme-main-page-content #edit-help,
#block-ys-admin-theme-main-page-content .system-status-general-info__item-details,
#block-ys-admin-theme-main-page-content .card__content {
  color: var(--dark-theme-gray);
}

#block-ys-admin-theme-main-page-content a:hover,
#block-ys-admin-theme-main-page-content a:focus {
  color: var(--gin-color-primary);
  text-decoration: underline;
}

#block-ys-admin-theme-main-page-content .field--name-field-instructions {
  color: var(--dark-theme-gray);
}

.draggable.field-plugin-settings-editing,
.draggable.drag-previous.field-plugin-settings-editing {
  background: var(--wool) !important;
}

#views-display-extra-actions {
  background-color: var(--wool) !important;
}

#views-display-extra-actions .edit-details:hover {
  background-color: var(--robin-egg) !important;
} 

.views-ui-dialog .views-add-form-selected > div {
  background-color: var(--wool) !important;
}

#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-main a:hover,
#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-main a:focus,
#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-top .views-display-setting a:hover,
#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-top .views-display-setting a:focus,
#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-top .view.dropbutton__item.dropbutton-action a:hover,
#block-ys-admin-theme-main-page-content .views-edit-view #edit-display-settings-top .view.dropbutton__item.dropbutton-action a:focus {
  color: var(--dark-theme-gray) !important;
}

#block-ys-admin-theme-main-page-content .views-edit-view #views-display-extra-actions a {
  color: var(--mediterranean-blue) !important;
}

#block-ys-admin-theme-main-page-content .views-edit-view #views-display-extra-actions a:hover,
#block-ys-admin-theme-main-page-content .views-edit-view #views-display-extra-actions a:focus { 
  color: var(--dark-theme-gray) !important;
}

/* Alerts */
#block-ys-admin-theme-main-page-content #alert-description-wrapper {
  color: var(--dark-theme-gray);
}

/* Buttons and action links */

.button,
.button:not(:focus),
.form-actions .button {
  background-color: var(--custom-button-color);
  color: var(--custom-button-color-text);
  border-radius: 2.5rem !important;
  box-shadow: none !important;
}

.action-link::before {
  background: var(--mediterranean-blue) !important;
}

.action-link:hover::before,
.action-link:focus::before {
  background: var(--wool) !important;
}

.action-link--icon-trash.action-link {
  border-radius: 2.5rem !important;
  box-shadow: none !important;
}

.action-link.action-link--danger,
.button.action-link--danger {
  background-color: var(--wool);
  color: var(--gin-color-danger) !important;
}

.action-link.action-link--danger:hover,
.action-link.action-link--danger:focus,
.button.action-link--danger:hover,
.button.action-link--danger:focus {
  color: var(--dark-theme-gray-hover) !important;
  background-color: var(--wool) !important;
}

.module-link.action-link--icon-cog::before {
  background-color: var(--wool) !important;
}

.action-link.action-link--icon-cog {
  background-color: var(--dark-theme-gray) !important;
  color: var(--wool) !important;
}

.action-link.action-link--icon-checkmark {
  background-color: var(--dark-theme-gray-hover) !important;
  color: var(--wool) !important;
}

.action-link--icon-trash.action-link--danger::before {
  background-color: var(--gin-color-danger) !important;
}


.operations .action-link::before {
  background-color: var(--wool) !important;
}

.button--primary {
  background-color: var(--custom-button-color);
  color: var(--custom-button-color-text);
}

.button:hover,
.button:focus,
.button--primary:hover,
.button--primary:focus {
  background-color: var(--custom-button-color-hover) !important;
  color: var(--custom-button-color-text-hover) !important;
}

.button.form-submit {
  background-color: var(--custom-button-color);
  color: var(--custom-button-color-text);
}

.button.form-submit:hover,
.button.form-submit:focus {
  background-color: var(--custom-button-color-hover) !important;
  color: var(--custom-button-color-text-hover) !important;
}

.messages .button--dismiss {
  background-color: var(--dark-theme-gray) !important;
}

.gin-layer-wrapper table td .dropbutton-action a {
  color: var(--dark-theme-gray-text-dark) !important;
  border-radius: 0.95rem;
}

.gin-layer-wrapper table td .dropbutton-action a:hover,
.gin-layer-wrapper table td .dropbutton-action a:focus {
  color: var(--dark-theme-gray-hover) !important;
}

.views-query-info table tr {
  background-color: var(--dark-theme-gray-selected) !important;
  color: var(--wool) !important;
}

.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item:hover
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item:hover
  > .toolbar-box
  > a.toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item
  > .toolbar-icon:focus::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail:hover
  > .toolbar-icon::before,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-box
  > a.toolbar-icon::before {
  z-index: 1;
}

.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-icon::after,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item.menu-item--active-trail
  > .toolbar-box
  > a.toolbar-icon::after,
.toolbar-menu-administration
  > .toolbar-menu
  > .menu-item
  > .toolbar-icon.is-active::after {
  background-color: var(--gin-color-primary-light) !important;
}

.is-horizontal .tabs__link.is-active,
.is-horizontal .tabs__link:hover,
.is-horizontal .tabs__link:focus,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:hover,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:focus {
  background: var(--gin-color-primary-light);
}

.form-element {
  border-radius: 0.625rem !important;
}

html.js.no-touchevents .dropbutton--extrasmall {
  border-radius: 2.5rem !important;
  background-color: var(--robin-egg);
}

.js .dropbutton--multiple > .dropbutton__item.dropbutton-action:first-of-type > a:hover {
  border-radius: 2.5rem 0 0 2.5rem !important;
}

.dropbutton__toggle::before {
  background-color: var(--dark-theme-gray-hover) !important;
}

.dropbutton .dropbutton__items >.dropbutton__item > a,
.dropbutton .dropbutton__items {
  background-color: var(--robin-egg) !important;
}

.no-touchevents .dropbutton--extrasmall .dropbutton__toggle {
  border-radius: 0 2.5rem 2.5rem 0;
}

.block-system > .views-form [data-drupal-selector*="edit-header"],
.view-content .views-form [data-drupal-selector*="edit-header"] {
  background-color: transparent !important;
}


body:not(.toolbar-tray-open) .layout-container {
  padding-left: var(--gin-spacing-m);
  padding-right: var(--gin-spacing-m);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (min-width: 38em) {
  body:not(.toolbar-tray-open) .layout-container {
    padding-right: 3em;
    padding-left: 3em;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 48em) {
  body:not(.toolbar-tray-open) .layout-container {
    padding-left: var(--gin-spacing-xl);
    padding-right: var(--gin-spacing-xl);
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 61em) {
  body:not(.toolbar-tray-open) .layout-container {
    padding-left: min(5vw, var(--gin-spacing-xxl));
    padding-right: min(5vw, var(--gin-spacing-xxl));
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

tbody .views-field:not(.views-field-operations) a {
  color: var(--gin-color-secondary) !important;
  font-weight: 500;
}

table tr:hover, 
table .draggable-table.tabledrag-disabled tr:hover {
  background-color: var(--dark-theme-gray-lightest) !important;
}

.sortable-heading > a::after {
  content: none;
}

.sortable-heading > a:focus, 
.sortable-heading > a:hover {
  color: var(--dark-theme-gray-lightest);
}

table tr.selected td {
  background-color: var(--dark-theme-gray-selected) !important;
}

td.description,
td .admin-requirements,
td .admin-required {
  color: var(--dark-theme-gray) !important;
}

.form-boolean--type-checkbox:checked {
  background-color: var(--dark-theme-gray) !important;
}

.dropbutton__toggle:focus {
  box-shadow: none !important;
}

.path-admin .view-header p {
  max-width: 1200px;
}

.js .dropbutton-widget {
  background-color: transparent;
}

.action-link {
  color: var(--dark-theme-gray) !important;
}

.action-link:hover,
.action-link:focus {
  color: var(--dark-theme-gray-lightest) !important;
}

.action-link:hover .action-link--icon-show::before ,
.action-link:focus .action-link--icon-show::before  {
  background-color: var(--dark-theme-gray-lightest) !important;
}

.action-link--icon-show::before {
  background-color: var(--dark-theme-gray) !important;
}

.cke .cke_top,
.cke .cke_bottom,
.cke.cke .cke_top,
.cke_1_bottom {
  background: var(--dark-theme-gray-lightest) !important;
}

.cke a.cke_path_item, 
.cke span.cke_path_empty {
  color: var(--dark-theme-gray) !important;
}

.cke a.cke_button_off:hover, 
.cke a.cke_button_off:focus, 
.cke a.cke_button_off:active {
  background: var(--wool) !important;
}

.gin-layer-wrapper table th, 
.gin-layer-wrapper table th a,
.gin-layer-wrapper table th .form-item__label {
  color: var(--wool) !important;
}

.gin-layer-wrapper table.field-multiple-table th .form-item__label {
  color: var(--dark-theme-gray) !important;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link,
.vertical-tabs__menu a.vertical-tabs__menu-link {
  color: var(--dark-theme-gray) !important;
}

.vertical-tabs__menu a.vertical-tabs__menu-link:hover {
  color: var(--wool) !important;
}

.vertical-tabs__menu a.vertical-tabs__menu-link:hover .vertical-tabs__menu-link-summary {
  color: var(--wool) !important;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-color: var(--mediterranean-blue) !important;
}

.tabledrag-handle::after {
  background-color: var(--dark-theme-gray) !important;
}

.field-plugin-summary {
  color: var(--dark-theme-gray) !important;
}

// Claro details
.claro-details__summary {
  color: var(--dark-theme-gray) !important;
}

.claro-details__summary-summary {
  color: var(--gin-color-text) !important;
}

.claro-details__summary:hover .claro-details__summary-summary,
.claro-details__summary:focus .claro-details__summary-summary,
.claro-details__summary[aria-expanded="true"] .claro-details__summary-summary {
  color: var(--wool) !important;
}

.claro-details__summary:hover,
.claro-details__summary:focus,
.claro-details[open] > .claro-details__summary,
.claro-details[open] > .claro-details__summary[aria-expanded="true"] {
  color: var(--dark-theme-gray-text-light) !important;
  background-color: var(--dark-theme-gray-text-dark) !important;
}

.claro-details[open] > .claro-details__summary[aria-expanded="false"]::before,
.claro-details > .claro-details__summary[aria-expanded="false"]:focus::before,
.claro-details[open] > .claro-details__summary::before {
  background-color: var(--dark-theme-gray-text-light) !important;
}

.claro-details__wrapper a {
  color: var(--mediterranean-blue) !important;
}

.claro-details__wrapper a:hover,
.claro-details__wrapper a:focus {
  text-decoration: underline;
}  

/* stylelint-enable */
