/* stylelint-disable */

:root {
  --gin-font: Mallory, sans-serif;
  --gin-font-size-h1: 1.75rem;
  --gin-font-size-h2: 1.5rem;
  --gin-font-size-h3: 1.25rem;
  --gin-border-m: 0.313rem;
  --jui-dropdown-bg-color: var(--gin-bg-layer);
  --input-fg-color--placeholder: var(--gin-color-text);

  h1,
  h2 {
    font-weight: 600;
  }
}

/* stylelint-enable */
