/* stylelint-disable */
:root {
  --peacock-green: #376c74;
  --mediterranean-blue: #187e9b;
  --robin-egg: #d9f1f3;
  --wool: #fbfbf6;
  --light-gray: #d4d4d4;
  --darkest-gray: #1f1f1f;
  --dark-theme-gray-rgb: 78, 89, 89;
  --dark-theme-gray:#4E5959;
  --dark-theme-gray-hover: #353d3d;
  --dark-primary-link: var(--wool);
  --dark-primary-link-hover: #ffffff;
  --dark-gin-icon-color: var(--wool);

  [data-gin-accent="light_blue"] {
    --gin-color-primary: var(--robin-egg);
    --gin-color-primary-rgb: 217, 241, 243;
    --gin-color-primary-active: var(--wool) !important;
    --gin-color-secondary: var(--mediterranean-blue) !important;
    --gin-icon-color: var(--dark-gin-icon-color);
    --gin-bg-item-hover: var(--dark-theme-gray-hover);
    --gin-bg-header: var(--dark-theme-gray);
    --gin-color-text: var(--wool);
    --gin-color-text-light: var(--wool);
    --gin-color-primary-hover: var(--wool) !important;
    --gin-color-primary-light: var(--gin-bg-item-hover) !important;
    --gin-color-primary-light-active: var(--robin-egg);
    --gin-border-color-layer: var(--light-gray) !important;

    --gin-bg-layer: var(--dark-theme-gray) !important;
    --gin-bg-input: var(--darkest-gray) !important;
    --gin-border-color-table-header: var(--darkest-gray) !important;
    --gin-border-color-form-element: var(--light-gray) !important;
    --gin-bg-app: var(--darkest-gray);
    --gin-bg-layer3: var(--dark-theme-gray-hover);
    --colorGinText: var(--darkest-gray);
    --gin-border-color-table-header: var(--darkest-gray);
    --gin-color-dark-text: var(--wool);
    --gin-color-title: var(--wool);
    --gin-color-button-text: var(--dark-theme-gray-hover);
    --gin-color-button-text-hover: var(--dark-theme-gray-hover);
  }
}

// Dark mode
.gin--dark-mode [data-gin-accent="light_blue"] {
  --gin-color-primary-rgb: 217, 241, 243 !important;
}

/* stylelint-enable */
