<div>
  The theme settings interface lets site owners experiment with color palettes
  and global appearance settings. The preview tool is most useful while viewing
  site content. Please navigate to a content page such as the front page to use
  this interface.
</div>
