<div{{ add_attributes() }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% include "@molecules/text/yds-text-field.twig" with {
    text_field__content: content.field_text,
    text_field__width: text_field__width,
  } %}

</div>
