{% extends "@atomic/block/layout-builder/_layout-builder-block-template.twig" %}

{% block content %}

  {% set view__base_class = 'ys-view' %}

  {% set view__attibutes = {
    'data-component-width': 'site',
    'data-embedded-components': 'true',
    class: bem(view__base_class, view__modifiers),
  } %}

  <div {{ add_attributes(view__attibutes) }}>
    {% embed "@organisms/component-wrapper/yds-component-wrapper.twig" with {
      component_wrapper__width: component_wrapper__width|default('site'),
      component_wrapper__label: content.field_heading,
      }%}
      {% if content.field_view_params  %}
        {% block component_wrapper_inner %}
          {{ content.field_view_params }}
        {% endblock %}
      {% endif %}
    {% endembed %}
  </div>
{% endblock %}
