{% extends "@atomic/block/layout-builder/_layout-builder-block-template.twig" %}

{% block content %}

  {% set view__base_class = 'ys-view' %}

  {% if parentNode == 'post' or parentNode == 'event' %}
    {% set view__attibutes = {
      'data-component-width': 'content',
      'data-embedded-components': 'true',
      class: bem(view__base_class, view__modifiers),
    } %}
    {% else %}
      {% set view__attibutes = {
        'data-component-width': 'site',
        'data-embedded-components': 'true',
        class: bem(view__base_class, view__modifiers),
      } %}
  {% endif %}

  <div {{ add_attributes(view__attibutes) }}>
    {% embed "@organisms/component-wrapper/yds-component-wrapper.twig" with {
      component_wrapper__width: component_wrapper__width|default('site'),
      component_wrapper__label: content.field_heading.0 ? content.field_heading : '',
      }%}
      {% block component_wrapper_inner %}
        {% if content.field_heading_links.0 %}
          <div class="cta-group">
            {{ content.field_heading_links|children }}
          </div>
        {% endif %}
        {% if content.field_view_params %}
          {{ content.field_view_params }}
        {% endif %}
      {% endblock %}
    {% endembed %}
  </div>
{% endblock %}
