<div>
  <a class="button action-link" href="/admin/config/content/ys_demo_content/generate-demo-content">Generate Demo Content</a>
  <a class="button action-link" href="/admin/config/content/ys_demo_content/remove-demo-content">Remove Demo Content</a>
</div>