/* Form custom styles */
.ys-alert-settings .form-radios {
  display: flex;
}

.ys-alert-settings .form-radios .form-item {
  margin-left: 0;
  position: relative;
}

.ys-alert-settings .form-radios .form-item:not(:last-child) {
  margin-left: 0;
  margin-right: 12px;
}

.ys-alert-settings .form-radios .form-item > input {
  position: absolute;
  left: -9999px;
}

.ys-alert-settings .form-radios .form-item > label {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 127px;
  height: 0px;
  padding-top: 92px;
  border: 2px solid transparent;
  border-radius: 13px;
}

.ys-alert-settings .form-radios .form-item > label[for=edit-type-announcement] {
  background-image: url('../images/announcement.svg');
}

.ys-alert-settings .form-radios .form-item > label[for=edit-type-marketing] {
  background-image: url('../images/marketing.svg');
}

.ys-alert-settings .form-radios .form-type--radio > label[for=edit-type-emergency] {
  background-image: url('../images/emergency.svg');
}

.ys-alert-settings .form-boolean--type-radio:checked:not(:disabled) + label {
  border-color: #5B81FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Module custom styles */
.confirm-dialog.ui-dialog .ui-dialog-titlebar {
  background-color: #D52020;
  display: flex;
}

.confirm-dialog .ui-dialog-titlebar::before {
  content: "";
  background-image: url('../images/emergency-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  display: inline-block;
}

.confirm-dialog .ui-dialog-title {
  margin-left: 19px;
  padding-top: 3px;
}

.confirm-dialog.ui-dialog .ui-dialog-titlebar-close {
  top: 12px;
}

.confirm-dialog.ui-dialog .ui-widget-content.ui-dialog-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.confirm-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  display: flex;
  justify-content: flex-end;
  border-top: none;
}