@media screen and (min-width: 1380px) {
  .ys-footer-links .details-wrapper,
  .ys-footer-links .claro-details__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.ys-core-footer-settings-form
  .claro-details.form-disabled
  .claro-details__summary {
  background-color: #6f6f6f !important;
}

.ys-core-footer-settings-form .form-element {
  width: 100%;
}

.ys-core-footer-settings-form .preview-icon {
  width: 190px;
  height: 137px;
}

.ys-core-footer-settings-form .claro-details.form-disabled {
  pointer-events: none;
  user-select: none;
}

.ys-core-footer-settings-form
  .claro-details.form-disabled
  .claro-details__summary::after {
  background-image: url("../images/icons/disabled-details.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  content: "";
  display: inline-block;
  height: 2rem;
  left: 11rem;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
}

.footer-variation-radios .form-radios {
  display: flex;
}

.footer-variation-radios .form-type--radio:first-child {
  margin-left: 0;
}

.form-item--footer-variation.form-type--radio input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-item--footer-variation.form-type--radio label {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-theme-gray);
  border: 2px solid var(--wool);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.form-item--footer-variation input[checked="checked"] + label,
.form-item--footer-variation input[checked="checked"] + label:hover,
.form-item--footer-variation
  .form-boolean--type-radio:hover
  input[checked="checked"]
  + label {
  background-color: var(--darkest-gray);
  color: var(--color-background-primary) !important;
}

.form-item--footer-variation.form-type--radio input:focus + label {
  outline: 2px solid var(--wool);
}
