/*
* @todo Possibly move these styles into admin theme.
*/

.views-basic--group-user-selection {
  --size-spacing-4: 0.75rem;
  --size-spacing-5: 1rem;
}

/* General styles */
.views-basic--params {
  display: none;
}

.views-basic--entity-view-mode .glb-form-type--radio,
.views-basic--entity-view-mode .form-type--radio {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 0;
}

/* chosen-specific */
.chosen-container-multi .chosen-choices {
  border: unset;
  border-radius: unset;
}

/* Chosen dropdown selected color contrast fix */

/* ******************************************* */
.chosen-container .chosen-results {
  color: var(--gin-color-info);
}

.chosen-container-multi .chosen-drop .result-selected {
  color: var(--gin-color-green);
}

/* ************ Contrast fix end ************ */

/* visually hide the inputs */

.views-basic--group-user-selection .grouped-items .glb-form-type--radio,
.views-basic--group-user-selection .grouped-items .form-type--radio {
  position: relative;
}

.views-basic--group-user-selection .grouped-items input.form-radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* base for labels */
.views-basic--group-user-selection .glb-form-type--radio label.glb-option,
.views-basic--group-user-selection .form-type--radio label.option {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1 auto;
  border: 2px solid var(--wool);
  aspect-ratio: 2/1;
  text-align: left;
  background-color: var(--dark-theme-gray);
  padding: var(--size-spacing-4) var(--size-spacing-5);
  color: var(--darkest-gray);
  border-radius: 0.25rem;
  margin-bottom: var(--size-spacing-4);
}

.views-basic--group-user-selection .glb-form-type--radio label.glb-form-item__label.glb-option:hover,
.views-basic--group-user-selection .form-type--radio label.option:hover {
  border-color: var(--darkest-gray);
}

/******
/******** Input styles
*******/

.views-basic--group-user-selection legend {
  margin-bottom: var(--size-spacing-4);
}

.views-basic--group-user-selection .glb-form-item__label,
.views-basic--group-user-selection .form-item__label {
  font-size: 1rem !important;
  color: var(--wool) !important;
}

.views-basic--group-user-selection .grouped-items .fieldset__wrapper {
  border-top: 0.15rem solid var(--color-gray-500);
}

.views-basic--group-user-selection .glb-fieldset__label,
.views-basic--group-user-selection .fieldset__label {
  font-size: 1rem;
}

.gin--dark-mode .views-basic--group-user-selection .fieldset-legend.fieldset__label,
.gin--dark-mode .views-basic--group-user-selection .fieldset__legend.fieldset__legend--visible .fieldset__label {
  background-color: transparent;
  border: 0;
  color: var(--wool) !important;
  font-weight: 700;
  padding-left: 0;
}

.views-basic--group-user-selection .grouped-items fieldset:focus-visible,
.views-basic--group-user-selection .grouped-items fieldset:focus-within,
.views-basic--group-user-selection .grouped-items label:focus-visible,
.views-basic--group-user-selection
  .grouped-items
  input[type="submit"].button--primary:focus,
  .grouped-items
  input[type="submit"].button--primary:focus {
  outline: var(--size-thickness-2) solid var(--color-link-base);
  outline-offset: var(--size-thickness-2);
}

.views-basic--group-user-selection
  .form-item-settings-block-form-group-user-selection-entity-and-view-mode-entity-types:hover
  label,
.views-basic--group-user-selection
  .form-item-settings-block-form-group-user-selection-entity-and-view-mode-entity-types:focus
  label,
.views-basic--group-user-selection
  .form-item-settings-block-form-group-user-selection-entity-and-view-mode-view-mode:hover
  label,
.views-basic--group-user-selection
  .form-item-settings-block-form-group-user-selection-entity-and-view-mode-view-mode:focus
  label {
  background-color: var(--dark-theme-gray);
  border-color: var(--darkest-gray);
}

/* Checked inputs */

.views-basic--group-user-selection .form-type--radio input[checked="checked"] + label,
.views-basic--group-user-selection .glb-form-type--radio input[checked="checked"] + label {
  background-color: var(--darkest-gray);
  color: var(--wool);
}

.views-basic--group-user-selection
  .grouped-items
  .fieldset--group
  .fieldset__wrapper--group
  .glb-form-type--radio
  label,
.views-basic--group-user-selection
  .grouped-items
  .fieldset--group
  .fieldset__wrapper--group
  .form-type--radio
  label {
  width: 135px;
  height: 135px;
}

.views-basic--group-user-selection
  .grouped-items
  #edit-view-mode
  .fieldset--group
  .fieldset__wrapper--group
  .glb-form-type--radio
  label,
.views-basic--group-user-selection
  .grouped-items
  #edit-view-mode
  .fieldset--group
  .fieldset__wrapper--group
  .form-type--radio
  label {
  width: 170px;
  height: 170px;
}

.views-basic--group-user-selection .grouped-items img {
  width: auto;
}

.views-basic--group-user-selection
  .grouped-items
  .fieldset--group
  .fieldset__wrapper--group
  .form-boolean-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
