/*
* @todo Possibly move these styles into admin theme.
*/
.views-basic--params {
  /* display: none; */
}

.views-basic--group-user-selection .grouped-items,
.views-basic--user-selection {
  align-items: center;
  display: flex;
  gap: 1rem;
}
