{{ elements.alert_block }}

{% embed "@organisms/site-header/yds-site-header.twig" with {
  site_name: site_name,
  site_header__border_thickness: '8',
  site_header__theme: getThemeSetting('header_theme'),
  site_header__nav_position: getThemeSetting('nav_position'),
} %}
  {% block site_header__utility_nav %}
    {# utility_nav__search is passed to this component from ys_core.module #}
    {% embed "@organisms/menu/utility-nav/yds-utility-nav.twig" %}
      {% block utility_nav__menu %}
        {{ elements.utility_navigation }}
      {% endblock %}
      {% block site_header__search %}
        <form action="/search" method="get" id="header-search-form" accept-charset="UTF-8">
          <div class="form-item form-item-keywords">
            <label for="edit-keywords--header-search-form">
              {% include "@atoms/images/icons/_yds-icon.twig" with {
                icon__name: 'magnifying-glass',
                icon__blockname: utility_nav__base_class,
                icon__modifiers: ['search'],
                icon__decorative: true,
              } %}
            </label>
            <input placeholder="Search this site" type="text" id="edit-keywords--header-search-form" name="keywords" value="" size="30" maxlength="128" class="form-text">
          </div>
          <div class="form-actions form-wrapper" id="edit-actions--header-search-form">
            <input class="visually-hidden button form-submit" type="submit" id="edit-submit-search--header-search-form" value="Search">
          </div>
        </form>
        {# {{ drupal_block('views_exposed_filter_block:search-page_1', {label_display: false}, false) }} #}
      {% endblock %}
    {% endembed %}
  {% endblock %}
  {% block site_header__primary_nav %}
    {{ elements.main_navigation }}
  {% endblock %}
{% endembed %}
